<footer><div class="ft-inner">
  <div class="ft-top">
    <div>
      <div class="ft-logo-row"><div class="ft-b">NFD</div><div><div class="ft-n">NFD KOREA</div><div class="ft-s">{{consulting_partner_label}}</div></div></div>
      <p class="ft-tg">{{tagline}}</p>
    </div>
    <div class="ft-nav">
      <div class="ft-col"><h5>{{company}}</h5><ul>
        <li><a href="about-us.html">{{about_us}}</a></li>
        <li><a href="mission-vision.html">{{mission_vision}}</a></li>
        <li><a href="history.html">{{history}}</a></li>
        <li><a href="org.html">{{organization}}</a></li>
      </ul></div>
      <div class="ft-col"><h5>{{services}}</h5><ul>
        <li><a href="service-development.html">{{development_consulting}}</a></li>
        <li><a href="service-engineering.html">{{design_engineering}}</a></li>
        <li><a href="service-pm.html">{{pm_services}}</a></li>
        <li><a href="service-operations.html">{{operations_management}}</a></li>
      </ul></div>
      <div class="ft-col"><h5>{{careers}}</h5><ul>
        <li><a href="careers-values.html">{{our_values}}</a></li>
        <li><a href="careers.html">{{open_roles}}</a></li>
      </ul></div>
      <div class="ft-col"><h5>{{more}}</h5><ul>
        <li><a href="news.html">{{news}}</a></li>
        <li><a href="contact.html">{{contact_us}}</a></li>
      </ul></div>
    </div>
  </div>
  <div class="ft-btm"><p>© 2026 NFD Korea Co., Ltd. All rights reserved.</p><p>199-2 Nonhyun-dong, Gangnam-gu, Seoul &nbsp;|&nbsp; enquiry@nfd.kr</p></div>
</div></footer>
