<nav id="nav">
  <a href="index.html" class="n-logo">
    <div class="n-badge">NFD</div>
    <div>
      <div class="n-name">NFD KOREA</div>
      <div class="n-sub">{{partner_label}}</div>
    </div>
  </a>
  <ul class="n-menu">
    <li><a href="about-us.html" class="{{about_active}} has-sub">{{about}}</a>
      <div class="sub-menu">
        <a href="about-us.html">{{about_us}}</a>
        <a href="mission-vision.html">{{mission_vision}}</a>
        <a href="history.html">{{history}}</a>
        <a href="org.html">{{organization}}</a>
      </div>
    </li>
    <li><a href="services.html" class="{{services_active}}">{{services}}</a></li>
    <li><a href="projects.html" class="{{projects_active}}">{{projects}}</a></li>
    <li><a href="careers-values.html" class="{{careers_active}} has-sub">{{careers}}</a>
      <div class="sub-menu">
        <a href="careers-values.html">{{our_values}}</a>
        <a href="careers.html">{{open_roles}}</a>
      </div>
    </li>
    <li><a href="news.html" class="{{news_active}}">{{news}}</a></li>
  </ul>
  <a href="contact.html" class="n-cta">{{contact_us}} <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"><path d="M5 12h14M12 5l7 7-7 7"/></svg></a>
  <div class="n-lang" aria-label="Language"><a class="{{en_active}}" data-lang-choice="en" href="../en/{{filename}}" hreflang="en">EN</a><a class="{{ko_active}}" data-lang-choice="ko" href="../ko/{{filename}}" hreflang="ko">KO</a></div>
</nav>
